header {
    margin-top: 10px;
    background-color: #9393F4;;
    background-image: url("../img/DesarrollosAMedida_Azul.png");
    background-attachment: fixed;
    height: 250px;
   }
h3 {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 16px;
}