header {
    margin-top: 10px;
    background-color: #9393F4;;
    background-image: url("../img/DesarrollosAMedida_Azul.png");
    background-attachment: fixed;
    height: 250px;
   }
.negro {
    background-color:rgb(4, 46, 88);
    }
    ul>li a {
    color: ivory;
}
ul>li a:hover {
    background: rgba(200, 214, 215, 0.3);
    color: #93DFF4;
}
.marco {
    height: 70px;
    background-color: rgb(0, 40, 81);
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 18px;
   }
